@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  margin: 0;
  font-family: Inter, Helvetica Neue, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: white !important;
  font-size: 16px !important;
  color: black !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* Override Supabase Auth component styles */
.sbui-btn {
  background-color: #000 !important;
  color: #fff !important;
  border: 1px solid #000 !important;
}

.sbui-btn:hover {
  background-color: #333 !important;
}

.sbui-input {
  width: 100% !important;
  max-width: 400px; /* Match your desired width */
  background-color: #fff !important;
  color: #000 !important;
  border: 1px solid #ccc !important;
  border-radius: 6px !important;
  padding: 10px;
}

.sbui-label {
  color: #000 !important;
  font-weight: bold !important;
}

.sbui-message-text {
  color: #333 !important;
}

body {
  background-color: #fff; /* White background */
  font-family: Arial, sans-serif; /* Match your app font */
}
